@import '__colors.scss';

.Navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #4369b2;
  }
  
  .cities-table {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 600px;
    gap: 10px;
    padding-right: 10px;
  }
  
  .link {
    background-image: url(../assets/temp.jpg);
    text-decoration: none;
    box-shadow: 2px 2px 6px 2px white;
    border: 0.3px solid white;
    margin: 20px;
    width: 100%;
}
  
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
  
  svg {
    color: white;
  }
  
  .logo {
    color: red;
    font-family: GillSansBold, sans-serif;
    text-transform: uppercase;
    margin-left: -120px;
  }
  
  .my-link {
    display: flex;
    justify-content: right;
  }
  
  .town {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .ville {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: white;
  }
  
  .weather {
    background: linear-gradient(#1a2e36d8 0%, #386980ad 100%), url('../assets/temp.jpg');
    background-repeat: no-repeat;
    margin-top: -80px;
    padding-top: 50px;
    padding-bottom: 150px;
    height: 600px;
  }
  
  .weather-content {
    color: white;
    text-align: center;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  
  #Layer_1 {
    font-size: 50px;
  }
  
  
  #input-data {
    background: rgb(255, 255, 255);
    margin-top: 30px;
    border: 1px solid white;
    width: 50%;
    padding: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  
  .input {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-bottom: 30px;
  }
  
  #search {
    margin-top: 30px;
    margin-left: -25px;
    color: white;
  }
  
  .icons {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .others {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  